<div class="container">
   <hr> <h2 class="text-center voyageTitre">Voyages à la carte</h2><hr>
    <div class="row">
        <% mesVoyages.forEach((voyages)=>{ %>

       
        <div class="col-md-4">
            <div class="carte">
                <img src="images/<%= voyages.img %>" alt="">
                <div class="ville">
                    <h1><%= voyages.name %></h1>
                </div>
                <div class="date">
                    <h3>Voyage de <%= voyages.sejour %> !</h3>
                    <p><%= voyages.dateA %> au <%= voyages.dateR %></p>
                </div>
                <div class="details">
                    <p><%= voyages.preview %></p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="voyage/<%= voyages.id %>"><button class="btn btn-warning">Détails</button></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/contact"><button class="btn btn-danger">Je suis intéressé</button></a>
                    </div>
                </div>
               
                
            </div>
        </div>
      <%  }); %>
    </div>
</div>
                
            
                
      

