<div class="container">
    <div class="row">
        <% mesVoyages.forEach((voyages)=>{ %>

       
        <div class="col-md-4">
            <div class="carte">
                <img src="images/<%= voyages.img %>" alt="">
                <div class="ville">
                    <h1><%= voyages.name %></h1>
                </div>
                <div class="date">
                    <h3>Voyage de <%= voyages.sejour %> !</h3>
                    <p><%= voyages.dateA %> au <%= voyages.dateR %></p>
                </div>
                <div class="details">
                    <p><%= voyages.preview %></p>
                </div>

                <p><button class="propos">Détails</button>
                <a href="/contact"><button class="btn btn-danger">Je suis intéressé</button></a>
            </div>
        </div>
      <%  }); %>
    </div>
</div>
                
            
                
      

