<div class="container">
    <h1>
        <%= mesVoyages.name %>
    </h1>


    <div class="row">
        <div class="col-md-8 itineraire-img">
            <figure>
                <img src="/images/<%= mesVoyages.img %>" class="img-responsive" alt="">
            </figure>
        </div>
        <div class="col-md-4">
            <div class="personnalisable">
                <figure class="text-center"><img src="/images/premium-badge.png" alt=""></figure>
                <p>Nos voyages sont <br> 100% personnalisable !</p>
                <p>A chacun un parcour différent prévu spécialement pour vos besoins et attentes</p>
            </div>
        </div>
    </div>
    <div class="descriptif" style="margin-top:30px;">
        <h3>Resumé du voyage</h3>
            <p>
                <%= mesVoyages.text %>
            </p>
    </div>
    <h1>Lieux a visité</h1>
    <% console.log(mesVoyages.lieuxTableau.length) %>
    <% mesVoyages.lieuxTableau.forEach((obj)=>{ %>
        <div class="descriptif">
                
                        <div class="row">
                            <div class="col-md-7">
                                <h3><%= obj.lieuxAVisiterTitre %></h3>
                                <p>
                                        <%= obj.lieuxAVisiter %>
                                </p>
                            </div>
                            <div class="col-md-1">
                                <div class="VerticalSeparator"></div>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/<%= mesVoyages.img %>" class="img-responsive separator" alt="">
                            </div>
                        </div>
                
                    </div>

   <% }) %>
</div>
